.env
.env.dev
keypair

docker-compose.override.yaml
nginx.conf

*.exe
*.test
main

.idea/
.vscode/
*.swp

.DS_Store

services/go-api/main
services/go-api/vendor/
services/go-api/.idea
services/go-api/.air.toml
/services/go-api/tmp/

frontend/node_modules/
frontend/dist/
frontend/.astro/
frontend/.vscode/
frontend/.env.dev

