services:
  frontend:
    image: ghcr.io/magnacartaam/chain-solutions/frontend:latest
    container_name: frontend-app
    restart: unless-stopped
    networks:
      - shared-network

  go-api:
    image: ghcr.io/magnacartaam/chain-solutions/go-api:latest
    container_name: go-api-gateway
    restart: unless-stopped
    networks:
      - shared-network
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: app-redis
    restart: unless-stopped
    networks:
      - shared-network

networks:
  shared-network:
    external: true