services:
  frontend:
    image: ghcr.io/magnacartaam/chain-solutions/frontend:latest
    container_name: frontend-app
    restart: unless-stopped
    networks:
      - shared-network

  go-api:
    image: ghcr.io/magnacartaam/chain-solutions/go-api:latest
    container_name: go-api-gateway
    restart: unless-stopped
    networks:
      - shared-network
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: app-redis
    restart: unless-stopped
    networks:
      - shared-network

  postgres:
    image: postgres:18-alpine
    container_name: app-postgres
    restart: unless-stopped
    networks:
      - shared-network
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

networks:
  shared-network:
    external: true

volumes:
  postgres_data: