---
---
<aside>
    <div class="header">magnacartaam.me</div>
    <nav>
        <a href="/" class="prompt">Home</a>
        <a href="/cybersec" class="prompt">CyberSec</a>
    </nav>
</aside>

<style>
    aside {
        width: var(--sidebar-width);
        background-color: #111;
        height: 100vh;
        border-right: 1px solid var(--border-color);
        padding: 1rem;
        box-sizing: border-box;
    }
    .header {
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--accent-color);
        margin-bottom: 2rem;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        color: var(--text-color);
        text-decoration: none;
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
    }
    nav a:hover {
        color: var(--accent-color);
    }
</style>