[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
casino = "7WLsmcUxHVJ1hF6X1rVkLfRmaFWGi8Xdwqjys3mvqYxB"

[programs.devnet]
casino = "7WLsmcUxHVJ1hF6X1rVkLfRmaFWGi8Xdwqjys3mvqYxB"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
init = "npx ts-node scripts/init_devnet.ts"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
