---
import MainLayout from '../layouts/MainLayout.astro';
import CipherTool from '../components/CipherTool.astro';
---
<MainLayout title="CyberSec Tools">
    <h1>cd ./cybersec</h1>
    <p class="prompt">STB-34.101.31 Cipher Tool</p>

    <CipherTool />
</MainLayout>