---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Home">
    <h1>cd ./home</h1>
    <p class="prompt">Welcome to my project space.</p>

    <div class="gallery">
        <img src="/photos/beemer.jpg" alt="Description of photo 1">
        <img src="/photos/leha.jpg" alt="Description of photo 2">
    </div>
</MainLayout>

<style>
    .gallery {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
    .gallery img {
        width: 100%;
        height: auto;
        border: 1px solid var(--border-color);
    }
</style>